.header {
  width: 100%;
  height: 120px;
  background-color: rgba(24, 18, 30, 0.5);

  &__inner {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav {
  width: 625px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;

  a {
    color: var(--white-color);
    text-decoration: none;
  }
}

.logo {
  width: 143px;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .logo__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 40%;
    color: #FFFFFF;
    text-transform: uppercase;
  }
}

.btn--header {
  width: 158px;
  height: 44px;
  background-color: var(--white-color);
  color: #1A3E3E;
}

.hero {
  position: relative;
  background-image: url('/images/hero-bg.png');
  width: 100%;
  height: 985px;
  background-size: cover;
  background-position: center;
}

.container-title-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.hero__title-container {
  max-width: 1080px;
  width: 100%;
}

.hero__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: var(--white-color);
}

.search-form {
  width: 1180px;
  height: 161px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

.container-form {
  width: 1095px;
  height: 81px;
  display: flex;
  justify-content: space-between;
}

.search-form__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  color: var(--white-color);
  line-height: 150%;
  font-size: 16px;
}

%search-form-control {
  background-repeat: no-repeat;
  background-position: right 16px center;
  padding-left: 16px;
  width: 270px;
  height: 52px;
  color: var(--white-color);
  border-radius: 8px;
  border: 1px solid #E1E3E4;
  background-color: transparent;
}

.search-form__input::placeholder {
  color: var(--white-color);
  opacity: 1;
}

.search-form__input {
  @extend %search-form-control;
  background-size: 20px;
  appearance: none;
  background-image: url('/images/calendar-icon.svg');
}

.search-form__select {
  @extend %search-form-control;
  appearance: none;
  background-size: 15px;
  background-image: url('/images/arrow-icon.svg');
}

.search-form__submit {
  width: 213px;
  height: 52px;
}

.search-form__hint {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding-left: 8px;
}