<main>
  <section class="hero">
    <header class="header">
      <div class="header__inner">
        <div class="logo">
          <img src="/images/logo-icon.svg" [alt]="companyName">
          <p class="logo__description">{{companyName}}</p>
        </div>
        <nav class="header__nav">
          <a href="#">Главная</a>
          <a href="#">Про гида</a>
          <a href="#">Программа тура</a>
          <a href="#">Стоимость</a>
          <a href="#">Блог</a>
          <a href="#">Контакты</a>
        </nav>
        <button class="btn btn--header">Консультация</button>
      </div>
    </header>
    <div class="container-title-form">
      <div class="hero__title-container">
        <h1 class="hero__title">Насладись прогулкой в горах <br> с командой единомышленников</h1>
      </div>

      <form class="search-form">
        <div class="container-form">
          <div class="search-form__field">
            <select id="location" class="search-form__select">
              <option value="">Локация для тура</option>
            </select>
            <span class="search-form__hint">выберите из списка</span>
          </div>

          <div class="search-form__field">
            <input id="date" type="text" class="search-form__input" placeholder="Дата похода" readonly/>
            <span class="search-form__hint">укажите дату</span>
          </div>

          <div class="search-form__field">
            <select id="participants" class="search-form__select">
              <option value="">Участники</option>
            </select>
            <span class="search-form__hint">выберите из списка</span>
          </div>

          <button type="button" class="btn search-form__submit">Найти программу</button>
        </div>
      </form>
    </div>
  </section>
</main>